kubeProxyReplacement: true
l2announcements:
  enabled: true
devices:
  - eth0
ipam:
  mode: kubernetes
gatewayAPI:
  enabled: true
hubble:
  enabled: true
  relay:
    enabled: true
  ui:
    enabled: true